.app-header
  border-bottom: 1px solid black
  background-color: #F2F2F2
  width: 100%
  padding: 20px
  h1
    width: 25%
    display: inline-block
  ul
    display: inline-block
    float: right
    margin-right: 25px
    li
      display: inline-block
      a
        text-decoration: none
        color: black
        font-size: 20px
        padding: 0 10px
