<div id="projects">
  <ul>
    <li ng-repeat="project in projects">
      <a ng-click="redirectOrShowProjectInfo($event, project)">{{project.name}}</a>
    </li>
  </ul>
    <!-- <md-grid-list
      md-cols-gt-md="12" md-cols-sm="3" md-cols-md="8"
      md-row-height-gt-md="1:1" md-row-height="1:1"
      md-gutter-gt-md="16px" md-gutter-gt-sm="8px"
      md-gutter="2px">
      <md-grid-tile
        ng-repeat="project in projects"
        md-colspan="{{projects.length+1}}"
        md-rowspan="{{projects.length+1}}"
        >
        <a ng-click="showDialog($event, project)">
          <div>
            <md-grid-tile-header class="header">{{project.name}}</md-grid-tile-header>
            <img class="project-img" src="https://unsplash.it/400/400/?random" alt="TODO: add a way to add an image relating to the project here" />
          </div>
        </a>
      </md-grid-tile>
    </md-grid-list> -->
</div>
